<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model:value="newTask" />
        <button @click="add">Add</button>
        <ul>
            <li v-for="user in users">
                {{ user.name }}
                <button onclick="vm.edit()">Edit</button> || 
                <button onclick="vm.delete()">Delete</button>
                <br><br>
            </li>
        </ul>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {
            newTask: "",
            users : [
                {
                    'name' : 'Muhammad Iqbal Mubarok' ,
                } ,
                {
                    'name' : 'Ruby Purwanti' ,
                } ,
                {
                    'name' : 'Faqih Muhammad' ,
                } ,
             ] ,
        } ,
        methods: {
            add() {
                this.users.push({'name': this.newTask});
                this.newTask = "";
            } ,
            edit() {
                let daftar = this.users;
                let ada = (element) => element == user.name;
                let ganti = this.users.findIndex(ada);
                this.users.splice(ganti, 1);
            } ,
            delete() {
                let ada = (element) => element == user.name;
                let hapus = this.users.findIndex(ada);
                this.users.splice(hapus, 1);
            } ,
        }
    })
    </script>
</body>
</html>